#navbar-item{
    padding-top:10px;
    padding-bottom:10px;
    font-family:'Barlow', sans-serif;
    font-size:20px;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#shadow{
    box-shadow: 0 0 10px 0 rgba(0,0,0,.15);
}
#navbar-item-1{
    font-family:'Barlow', sans-serif;
    font-size:20px;
}
.nav-item {
    padding-left : 10px;
    padding-right : 10px
}
#avatar {
    height:40px; 
    position: absolute; 
    left : -20%; 
    top: 50%; 
    transform: translateY(-50%)
}
input, textarea{
    width:60%;
    padding: 5px 20px;
    margin-top:50px;
    color:black;
    display: inline-block;
    font-size:20px;
    height:55px;
    text-decoration:none;
    border-radius:40px;
    border:2px solid lightblue;
    box-sizing: border-box;
    cursor:pointer;
}
input:hover, textarea:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}
#task-list {
    height: 500px;
}
.text-input{
    margin-top:80px;
    text-align:center;
    font-size:30px;
    font-family: 'Barlow', sans-serif;
    margin-bottom:20px;
}
.div1-attribute{
    position: relative;
    height : auto;
    word-break : break-all; 
    padding: 10px 40px 10px 20px;
    font-size:20px; 
    font-weight:bolder; 
    border:2px solid transparent; 
    box-shadow:0 0 10px 0 rgba(0,0,0,.30); 
    border-radius:40px; 
    width:100%;
}
.get-list-btn, .suggest-changes{
    width:auto;
    color:black;
    padding:5px 50px;
    border-radius:40px;
    border:2px solid;
    background-color: white;
    font-size:20px;
    cursor: pointer
}
#input-email-collab {
    width : 100%
}
textarea{
    resize: none;
    height : 150px;
    font-size : 18px;
    padding : 20px 30px;
    width : 100%;
    border-radius: 20px;
}
.status{
    font-size: 18px;
    color : green;
    padding : 5px 8px;
    border : 2px solid green;
    border-radius : 10px;
    margin-top : 30px;
    display:  none;
}