.login-page{
    text-align:center;
    margin-top:100px;
    font-family:'Barlow', sans-serif;
    font-weight:bolder;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input[type=text]{
    width: 80%;
    padding: 5px 20px;
    margin-top:50px;
    color:black;
    display: inline-block;
    font-size:20px;
    height:65px;
    text-decoration:none;
    border-radius:50px;
    border:2px solid lightblue;
    box-sizing: border-box;
    cursor:pointer;
}
input:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}
input[type=password]{
    width: 80%;
    padding: 5px 20px;
    margin-top:30px;
    color:black;
    display: inline-block;
    font-size:20px;
    height:65px;
    text-decoration:none;
    border-radius:50px;
    border:2px solid lightblue;
    box-sizing: border-box;
    cursor:pointer;
}
.login-button{
    margin-top:50px;
    margin-bottom:80px;
    width:80%;
    color:black;
    padding:5px 20px;
    border-radius:50px;
    border:2px solid;
    background-color: white;
    height:65px;
    font-size:20px;
}
.signup-image{
    border:2px solid red;
    top:0;
}
input[type=email]{
    width: 80%;
    padding: 10px 20px;
    margin-top:30px;
    color:black;
    display: inline-block;
    font-size:20px;
    height:65px;
    text-decoration:none;
    border-radius:50px;
    border:2px solid lightblue;
    box-sizing: border-box;
    cursor:pointer;
}