.login-page{
    text-align:center;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
input[type=text], select {
    width: 100%;
    padding: 10px 20px;
    margin-top:50px;
    color:black;
    display: inline-block;
    font-size:20px;
    height:65px;
    text-decoration:none;
    border-radius:50px;
    border:2px solid lightblue;
    box-sizing: border-box;
    cursor:pointer;
}
input[type=text]:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}
input[type=password], select {
    width: 100%;
    padding: 10px 20px;
    color:black;
    display: inline-block;
    font-size:20px;
    height:65px;
    text-decoration:none;
    border-radius:50px;
    border:2px solid lightblue;
    box-sizing: border-box;
    cursor:pointer;
}
input[type=password]:hover{
    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
}
.login-button{
    margin-top:50px;
    width:100%;
    color:black;
    padding:10px 20px;
    border-radius:50px;
    border:2px solid;
    background-color: white;
    height:65px;
    font-size:20px;
}

